
<h1>{{'mail.titre'|trans }}</h1>

{{'mail.bonjour'|trans }}<br /><br />

{{'mail.corps1'|trans }} {{ datCom }}{{'mail.corps2'|trans }}{{ datVisite }}.<br />
<br />
<b><u>{{'mail.detail'|trans }}</u>:</b><br /><br />

<b>{{'mail.numCom'|trans }} :</b> {{ numCom }}<br /> 
{{ tabRecap|raw }}
<br /><br />
{{'mail.fin'|trans }}<br />

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSElBhfoEvGjcgcfuj6g8bWKoP1BYb2lAeeA-NvokHFFnpVbuffHQ" width="100">