{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Payement KO
{% endblock %}


{% block body %}

    <div class="container">

        {# src/OC/PlatformBundle/Resources/views/formStep1.html.twig #}
        <h1>{{'valid.titreInvalide'|trans }}</h1>

		<div class="recap">
			{{ tabRecap|raw }}
		</div>
		
		<br /> 
		<center><A href="javascript:history.back()"><button id="btn_bck">{{'valid.btnRet'|trans }}</button></A></center>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }} 
{% endblock %}
