{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Etape 2
{% endblock %}

{% block body %}
	<h1><span class="stepAutre">> Etape 1</span> > <span class="stepActu">Etape 2</span> <span class="stepAutre">> Etape 3</span></h1>
	<div class="well">
		<div class="info">
			<br />Afin de béneficier du tarif réduit, <br /> la présentation d'une carte d’étudiant, militaire ou équivalent<br /> lors de l’entrée sera necessaire.<br /><br />
		</div>
		{{ form_start(form) }}
		<div id="tickets-fields-list"
		data-prototype="{{ form_widget(form.tickets.vars.prototype)|e }}"
		data-widget-tags="{{ '<div class="col-sm-12"></div>'|e }}">
			{% for tcktField in form.tickets %}
			
			<div class="row">
				<div class="col-sm-8"></div> 
				<div class="col-sm-2">
					{{ form_errors(tcktField) }}
					{{ form_widget(tcktField) }}
					
				</div>
			</div>
			{% endfor %}	
			</div>
		<input type="hidden" id="jsData"  data-list="#tickets-fields-list"/>
	    <input type="submit" value="Etape suivante"/>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>
		jQuery(document).ready(function () {
			$('.info').fadeOut("fast","linear");
			
  			for(i = 1; i <= {{ nb_tickets }}; i++) {
				var list = jQuery(jQuery("#jsData").attr('data-list'));
				var counter = list.data('widget-counter') | list.children().length;
				if (!counter) { counter = list.children().length; }
				var newWidget = list.attr('data-prototype');
				newWidget = newWidget.replace(/__name__/g, i);
				counter++;
				list.data(' widget-counter', counter);
				var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
				newElem.appendTo(list);
				var demiJournee = {% if demiJournee %}true{% else %}false{% endif %};
				
				if (demiJournee){
					document.getElementById("tickets_tickets_"+i+"_demiJournee").checked = true;
					$('.dmiJrn').fadeOut("fast","linear");
				}
			}
			
				// Actions lors du click sur une checkbox tarif reduit  
				$('.chkBoxTrfRdt').click(function() {
				//	$(reg).click(function() {
					$('.info').fadeIn("slow","linear");
				});
		});
    </script>
{% endblock %}