{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Etape 2
{% endblock %}

{% block body %}

    <div class="container">
		<h1>> {{'commun.titre1'|trans }} > <span class="stepActu">{{'commun.titre2'|trans }}</span> > {{'commun.titre3'|trans }}</h1>
		<div class="well">
			<div class="info"> 
				<br />{{'step2.tarifReduit.info1'|trans }} 
				<br />{{'step2.tarifReduit.info2'|trans }} 
				<br />{{'step2.tarifReduit.info3'|trans }} <br /><br />
			</div>
			{{ form_start(form) }}
			<div id="tickets-fields-list" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e }}"
			data-widget-tags="{{ '<div class="ticketMEF col-sm-4"></div>'|e }}">
	
				</div>
			<input type="hidden" id="jsData"  data-list="#tickets-fields-list"/>
			<input type="submit" value="{{'commun.btnSuiv'|trans }}"/>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script>
		jQuery(document).ready(function () {
			$('.info').fadeOut("fast","linear");
			
  			for(i = 1; i <= {{ nb_tickets }}; i++) {
				var list = jQuery(jQuery("#jsData").attr('data-list'));
				var counter = list.data('widget-counter') | list.children().length;

 				if (!counter) { counter = list.children().length; }

				var newWidget = list.attr('data-prototype');
				newWidget = newWidget.replace(/__name__/g, i);
				counter++;
				list.data(' widget-counter', counter);
				var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);

				newElem.appendTo(list);
				
				var demiJournee = {% if demiJournee %}true{% else %}false{% endif %};
				
				if (demiJournee){
					document.getElementById("tickets_tickets_"+i+"_demiJournee").checked = true;
					$('.dmiJrn').fadeOut("fast","linear");
				}
			}
			
				// Actions lors du click sur une checkbox tarif reduit  
				$('.chkBoxTrfRdt').click(function() {
					$('.info').fadeIn("slow","linear");
				});
		});
    </script>
{% endblock %}