{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Etape 1
{% endblock %}


{% block body %}

    <div class="container">

        {# src/OC/PlatformBundle/Resources/views/formStep1.html.twig #}
        <h1>> <span class="stepActu">Etape 1</span> > Etape 2 > Etape 3</h1>

		<br /> {{ message|raw }}
        {{ form_start(form) }}

		<div class="row">
			<div class="col-sm-2">
				{{ form_label(form.mail) }}
			</div>
			<div class="col-sm-3">
				{{ form_widget(form.mail) }}
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-2">
				{{ form_label(form.number_ticket) }}
			</div>
			<div class="col-sm-1">
				{{ form_widget(form.number_ticket) }}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				{{ form_label(form.dateVisite) }}
			</div>
			<div class="col-sm-2">
				{{ form_widget(form.dateVisite) }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-4">
				<input type="submit" value="Etape suivante"/>
			</div>
		</div>
		<div class="row" style="visibility:hidden">
			<div class="col-sm-2">
				{{ form_label(form.dateCommande) }}
			</div>
			<div class="col-sm-4">
				{{ form_errors(form.dateCommande) }}
				{{ form_widget(form.dateCommande) }}
			</div>
		</div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }} 
	<script src="{{ asset('js/etape1.js')}}"></script>
{% endblock %}
